{% include "base.html" %}

{% block content %}
<body class="nk-body npc-landing bg-white intro">
    <div class="nk-app-root">
        <div class="nk-main">
            <div class="intro-navbar">
                <div class="container container-ld">
                    <div class="intro-wrap">
                        <div class="intro-logo"><a href="./" class="logo-link"><img class="logo-img logo-light"
                                    src="../static/images/logo.png" srcset="../static/images/logo2x.png 2x"
                                    alt="DashLite Template"><img class="logo-img logo-dark"
                                    src="../static/images/logo-dark.png" srcset="../static/images/logo-dark2x.png 2x"
                                    alt="DashLite Template"></a></div>
                        <div class="intro-nav">
                            <ul class="nav">
                                <li class="nav-item intro-nav-item"><a href="#preview"
                                        class="link-to nav-link intro-nav-link"><span
                                            class="d-none d-md-inline">Solutions</span> <span
                                            class="d-md-none">Preview</span> </a></li>
                                <li class="nav-item intro-nav-item"><a href="#features"
                                        class="link-to nav-link intro-nav-link">Pricing</a></li>
                                <li class="nav-item intro-nav-item"><a href="https://dashlite.themenio.com/docs/"
                                        class="nav-link intro-nav-link">Resources</a></li>

                            </ul>
                            <div class="intro-action">
                                <a href="{{url_for('auth.login')}}" style="float: left;" target="_blank" class="nav-link intro-nav-link">Sign
                                    In</a>
                                <a href="" class="btn btn-primary"><span class="d-none d-md-block">Try
                                        It Free</span><em class="d-md-none icon ni ni-dashlite"></em></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-banner bg-dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="intro-banner-wrap">
                                <div class="intro-banner-inner text-center">
                                    <div class="intro-banner-desc"><span class="overline-title">Introducing</span>
                                        <h1 class="title text-white">ContractorMS</h1>
                                        <p class="text-light">ContractorMS helps firms automate critical processes such
                                            as project takeoff, budget estimates, project management and accounting, and
                                            integrates various applications and stages of the project life cycle, from
                                            pre-sale through building and final billing.</p>
                                    </div>
                                    <ul class="intro-action-group">
                                        <li><a href="{{url_for('auth.login')}}" class="link-to btn btn-lg btn-danger">Sign in</a>
                                        </li>
                                        <li><a href="" class="btn btn-lg btn-primary" target="_blank"><strong>Start
                                                    now</strong> - it's free</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-section intro-feature bg-white" id="features">
                <div class="container container-ld">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-xl-7">
                            <div class="intro-section-title text-center">
                                <h2 class="intro-heading-lead title">For the project owners, general contractors <span
                                        class="break-mb">&</span> specialty contractors</h2>
                                <div class="intro-section-desc">
                                    <p>If you are involved in a construction project ContractorMS will connect you to
                                        everyone and everything you need.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="row intro-feature-list">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="intro-feature-item">
                                        <div class="intro-feature-media"><svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 90 90">
                                                <rect x="5" y="22" width="70" height="60" rx="7" ry="7" fill="#e3e7fe"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path
                                                    d="M12,23H68a6,6,0,0,1,6,6v6a0,0,0,0,1,0,0H6a0,0,0,0,1,0,0V29A6,6,0,0,1,12,23Z"
                                                    fill="#b3c2ff" />
                                                <line x1="5" y1="35" x2="75" y2="35" fill="none" stroke="#6576ff"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <rect x="15" y="8" width="70" height="60" rx="7" ry="7" fill="#fff"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path
                                                    d="M22,9H78a6,6,0,0,1,6,6v6a0,0,0,0,1,0,0H16a0,0,0,0,1,0,0V15A6,6,0,0,1,22,9Z"
                                                    fill="#e3e7fe" />
                                                <line x1="15" y1="22" x2="85" y2="22" fill="none" stroke="#6576ff"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <line x1="61" y1="15" x2="68" y2="15" fill="none" stroke="#6576ff"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <line x1="74" y1="15" x2="78" y2="15" fill="none" stroke="#6576ff"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <polyline points="60.49 51.07 67.06 44.5 60.49 37.93" fill="none"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="3" />
                                                <polyline points="41.51 37.93 34.94 44.5 41.51 51.07" fill="none"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="3" />
                                                <line x1="54.55" y1="34.5" x2="47.45" y2="54.5" fill="none"
                                                    stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="3" /></svg></div>
                                        <div class="intro-feature-info">
                                            <h4 class="title">Project Owner</h4>
                                            <p>Gain full visibility into your construction projects with all your
                                                project information in one place.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="intro-feature-item">
                                        <div class="intro-feature-media"><svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 90 90">
                                                <rect x="5" y="5" width="70" height="70" rx="7" ry="7" fill="#e3e7fe"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <rect x="15" y="15" width="70" height="70" rx="7" ry="7" fill="#fff"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path
                                                    d="M36,45.72V72H55.87a20.92,20.92,0,0,0,5.37-.69,14.53,14.53,0,0,0,4.65-2.12,10.47,10.47,0,0,0,3.24-3.71,11.2,11.2,0,0,0,1.21-5.37,11.32,11.32,0,0,0-1.87-6.57,9.85,9.85,0,0,0-5.65-3.82A10.26,10.26,0,0,0,67,46.33a9,9,0,0,0,1.41-5.17,11,11,0,0,0-1-4.82,7.9,7.9,0,0,0-2.67-3.13,11.56,11.56,0,0,0-4.14-1.69A25.06,25.06,0,0,0,55.29,31H36Z"
                                                    fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                    stroke-width="2" />
                                                <path
                                                    d="M44,65V54h9.6a7.41,7.41,0,0,1,4.6,1.32q1.74,1.32,1.74,4.4a5.63,5.63,0,0,1-.53,2.59A4.37,4.37,0,0,1,58,63.91a6.09,6.09,0,0,1-2.07.84,11.69,11.69,0,0,1-2.47.25Z"
                                                    fill="#fff" stroke="#6576ff" stroke-linecap="round"
                                                    stroke-width="2" />
                                                <path
                                                    d="M44,47V38h7.92a11.87,11.87,0,0,1,2.18.19,5.27,5.27,0,0,1,1.86.67,3.67,3.67,0,0,1,1.3,1.35,4.5,4.5,0,0,1,.48,2.21,4.06,4.06,0,0,1-1.45,3.5A6.08,6.08,0,0,1,52.57,47Z"
                                                    fill="#fff" stroke="#6576ff" stroke-linecap="round"
                                                    stroke-width="2" /></svg></div>
                                        <div class="intro-feature-info">
                                            <h4 class="title">General Contractors</h4>
                                            <p>Stay on schedule and on budget when you can manage your entire
                                                project—from the palm of your hand.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="intro-feature-item">
                                        <div class="intro-feature-media"><svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 90 90">
                                                <line x1="21.34" y1="27.34" x2="21.34" y2="27.34" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="4" />
                                                <line x1="29.53" y1="27.34" x2="29.53" y2="27.34" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="4" />
                                                <line x1="37.73" y1="27.34" x2="37.73" y2="27.34" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="4" />
                                                <rect x="5" y="5" width="70" height="70" rx="7" ry="7" fill="#e3e7fe"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <rect x="15" y="15" width="70" height="70" rx="7" ry="7" fill="#fff"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path
                                                    d="M22,16H78a6,6,0,0,1,6,6v6a0,0,0,0,1,0,0H16a0,0,0,0,1,0,0V22A6,6,0,0,1,22,16Z"
                                                    fill="#e3e7fe" />
                                                <line x1="15" y1="29" x2="85" y2="29" fill="none" stroke="#6576ff"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <path
                                                    d="M55.87,51.07l-.09.18a1.05,1.05,0,0,0-.05.19.62.62,0,0,0,0,.19,1.34,1.34,0,0,0,0,.2l.06.19.09.17a1.07,1.07,0,0,0,.28.28l.18.09a.64.64,0,0,0,.18.06l.2,0,.2,0,.19-.06a1.4,1.4,0,0,0,.17-.09.93.93,0,0,0,.15-.13.64.64,0,0,0,.13-.15l.09-.17.06-.19a1.36,1.36,0,0,0,0-.2,1.23,1.23,0,0,0,0-.19l-.06-.19-.09-.18-.13-.15a.57.57,0,0,0-.15-.12l-.17-.1-.19-.05a.68.68,0,0,0-.2,0,.71.71,0,0,0-.2,0l-.18.05-.18.1a.79.79,0,0,0-.15.12Z"
                                                    fill="#6576ff" />
                                                <line x1="56.27" y1="42.24" x2="65.59" y2="51.57" fill="none"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path d="M45.26,57.75l4.46-11.47s7.3,1.49,9.54-1" fill="none"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path d="M54.54,53.84l-10,10.56,17.27-6.54s-1.16-8,.81-8.77" fill="none"
                                                    stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" />
                                                <path d="M36.41,52.63S35.39,71.12,54.3,70" fill="none" stroke="#c4cefe"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <circle cx="57.5" cy="69.5" r="2.5" fill="none" stroke="#c4cefe"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <circle cx="36.5" cy="49.5" r="2.5" fill="none" stroke="#c4cefe"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            </svg></div>
                                        <div class="intro-feature-info">
                                            <h4 class="title">Specialty Contractors</h4>
                                            <p>Build more efficiently with field and office teams working together
                                                on one system.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="preview" class="intro-section intro-apps text-center text-white bg-primary-dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="intro-section-title">
                                <h2 class="intro-heading-lead intro-title">A solution for every need</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row intro-apps-list justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-apps-item"><a
                                    href="https://dashlite.themenio.com/demo2/ecommerce/index.html"
                                    class="intro-apps-img" target="_blank"><img class="intro-apps-default"
                                        src="../static/images/landing/demo-ecommerce.jpg"
                                        srcset="../static/images/landing/demo-ecommerce2x.jpg 2x" alt=""></a>
                                <div class="intro-apps-desc"><a
                                        href="https://dashlite.themenio.com/demo2/ecommerce/index.html"
                                        target="_blank">
                                        <h4 class="intro-apps-title title">Preconstruction</h4>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-apps-item"><a
                                    href="https://dashlite.themenio.com/demo4/subscription/index.html"
                                    class="intro-apps-img" target="_blank"><img class="intro-apps-default"
                                        src="../static/images/landing/demo-subscription.jpg"
                                        srcset="../static/images/landing/demo-subscription2x.jpg 2x" alt=""></a>
                                <div class="intro-apps-desc"><a
                                        href="https://dashlite.themenio.com/demo4/subscription/index.html"
                                        target="_blank">
                                        <h4 class="intro-apps-title title">Project Management</h4>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-apps-item"><a href="https://dashlite.themenio.com/demo5/crypto/index.html"
                                    class="intro-apps-img" target="_blank"><img class="intro-apps-default"
                                        src="../static/images/landing/demo-buysell.jpg"
                                        srcset="../static/images/landing/demo-buysell2x.jpg 2x" alt=""></a>
                                <div class="intro-apps-desc"><a
                                        href="https://dashlite.themenio.com/demo5/crypto/index.html"
                                        target="_blank">
                                        <h4 class="intro-apps-title title">Resource Management</h4>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-apps-item"><a href="https://dashlite.themenio.com/demo6/invest/index.html"
                                    class="intro-apps-img" target="_blank"><img class="intro-apps-default"
                                        src="../static/images/landing/demo-invest.jpg"
                                        srcset="../static/images/landing/demo-invest2x.jpg 2x" alt=""></a>
                                <div class="intro-apps-desc"><a
                                        href="https://dashlite.themenio.com/demo6/invest/index.html"
                                        target="_blank">
                                        <h4 class="intro-apps-title title">Customer Management</h4>
                                    </a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-apps-item"><a href="https://dashlite.themenio.com/covid/index.html"
                                    class="intro-apps-img" target="_blank"><img class="intro-apps-default"
                                        src="../static/images/landing/demo-covid19.jpg"
                                        srcset="../static/images/landing/demo-covid192x.jpg 2x" alt=""></a>
                                <div class="intro-apps-desc"><a href="https://dashlite.themenio.com/covid/index.html"
                                        target="_blank">
                                        <h4 class="intro-apps-title title">Financial Management </h4>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="intro-section intro-footer text-left">
                <div class="container container-ld">
                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <ul class="intro-menu">
                                <li><a href="#preview" class="link-to">Solutions</a></li>
                                <li><a href="#features" class="link-to">Pricing</a></li>
                                <li><a href="https://dashlite.themenio.com/docs/">Resources</a></li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="intro-copyright text-md-right">
                                <p>&copy; 2020, DashLite. Template made by <a href="https://softnio.com"
                                        target="_blank">Softnio</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/bundle2c00.js"></script>
    <script
        type="text/javascript">(function ($) { var $win = $(window), $introNav = $('.intro-navbar'), _navbar_fixed = 'navbar-fixed', $link = $('.link-to'); $link.on('click', function () { var href = $(this).attr('href'), $toHash = $(href); if ($toHash.length) { $('html, body').delay(50).animate({ scrollTop: ($toHash.offset().top - $introNav.innerHeight()) }, 1000); return false; } }); $win.on('scroll', function () { if ($win.scrollTop() > 0) { if (!$introNav.hasClass(_navbar_fixed)) { $introNav.addClass(_navbar_fixed); } } else { if ($introNav.hasClass(_navbar_fixed)) { $introNav.removeClass(_navbar_fixed); } } }); })(jQuery);</script>
</body>
{% endblock %}